@font-face {
font-family: "Ubuntu";
src: url(./myFonts/Ubuntu-Regular.ttf) format("truetype");
}

*{box-sizing: border-box;}


red{color: #ec407a;}
blue{color: blue;}
green{color: yellow;}

body{
background: #80d6ff;
-webkit-user-select: none; /* Safari 3.1+ */
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
user-select: none; /* Standard syntax */

font-family: "Ubuntu";
}

.title{
color: black;
text-align: center;
font-size: 400%;
background: #0077c2;
color: white;
}



.left_,
.right_{
float: left;
width: 50%;
padding: 20px;
}

.left,
.right{
float: left;
width: 100%;
}

.titleList{
float: left;
width: 100%;
text-align: center;
padding: 10px;
font-family: "Ubuntu";
font-size: 200%;
font-weight: bold;
background: #42a5f5;
}

.itemList{
float: left;
width: 100%;
text-align: center;
padding: 20px;
font-family: "Ubuntu";
font-size: 200%;
font-weight: bold;
//background: #42a5f5;
}

.itemList:hover {background-color: #ec407a;color: white; cursor: pointer;}
.itemList:active {background-color: #ffa0c0; color: black;}

a         {display: block;}
a:link    {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}
a:active  {color: black; text-decoration: none;}
a:link    {color: black; text-decoration: none;}


/* Responsive layout */
@media (max-width: 1000px) {
	.left_,
	.right_{
	width: 100%;
	padding: 0px;
	}

	.titleList{
	font-size: 300%;
	}

	.itemList{
	font-size: 300%;
	}



}

