
@font-face {
	font-family: "Ubuntu";
	src: url(./myFonts/Ubuntu-Regular.ttf) format("truetype");
}

body{
	background: #80d6ff;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

*{box-sizing: border-box;}

red{color: red;}
gray{color: gray;}


.show_user_name{
	float: left;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: #0077c2;
	color: white;	
	font-family: "Ubuntu";
	font-size: 200%;	
}

.title{
	float: left;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: #0077c2;
	color: white;
}

select{
	float: left;
	width: 100%;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	text-align: center;
}



.next_{
	float: left;
	width: 100%;
    padding-top: 10px;
    display: none;
}

.start_{
	float: left;
	width: 100%;
    padding-top: 10px;
	display: none;
}

.start,
.next{
	//float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	background: #0077c2;
	color: white;
	margin: auto;
}

.start:hover {background-color: #ec407a;color: white; cursor: pointer;}
.start:active {background-color: #ffa0c0; color: black;}
.next:hover {background-color: #ec407a;color: white; cursor: pointer;}
.next:active {background-color: #ffa0c0; color: black;}

.question_{
	float: left;
	width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #0077c2;
    color: white;
}

.question{
	float: left;
	width: 100%;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 200%;
	padding: 20px;
}


.answer_{
	float: left;
	width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    //border: solid;
    display: none;
}

.answer{
	float: left;
	width: 100%;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 200%;
	padding: 30px;
}

.buttons{
	float: left;
	width: 100%;
    padding-top: 30px;
    display: none;
}

.button_{
	float: left;
	width: 100%;
    padding: 20px;
}


.button{
	float: left;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	background: #42a5f5;
	margin: auto;
}

.button:hover {background-color: #ec407a;color: white; cursor: pointer;}
.button:active {background-color: #ffa0c0; color: black;}

.score{
	float: left;
	width: 100%;
    display: none;
}

.errores{
	float: left;
	width: 20%;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	background: #0077c2;
	color: white;
}

.calif{
	float: left;
	width: 20%;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	background: #0077c2;
	color: white;
}

.relleno{
	float: left;
	width: 60%;
	text-align: center;
	font-family: "Ubuntu";
	font-size: 200%;
	font-weight: bold;
	background: #0077c2;
	color: white;
}

.resumen{
	float: left;
	width: 100%;
	text-align: left;
	font-family: "Ubuntu";
	font-size: 100%;
	padding: 20px;
	//border: solid;
}


/*---------------------------------------------*/

@media (max-width: 1000px) 
{


	.title{
		padding: 10px;

	}

	select,button,input{
		//font-size: 300%;
	}

	.next_{
		padding-top: 50px;
	}

	.start_{
		padding-top: 50px;
	}

	.start,
	.next{
		width: 50%;
		padding: 50px;
		font-size: 200%;
	}


	.question_{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.question{
		font-size: 200%;
		//padding: 50px;
	}


	.answer_{
		padding-top: 100px;
		padding-bottom: 200px;
	}

	.answer{
		font-size: 200%;
		padding: 50px;
	}

	.buttons{
		padding-top: 50px;
	}

	.button_{
		padding: 20px;
	}


	.button{
		padding: 50px;
		font-size: 200%;
	}

	.errores{
		font-size: 200%;
		width: 30%;
	}

	.calif{
		font-size: 200%;
		width: 30%;
	}

	.relleno{
		font-size: 200%;
		width: 40%;
	}



}


